@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap");
:root {
  --primary-colour: #be80db;
  --primary-colour-light: #c793df;
  --primary-colour-lightest: #dcb2f0;
  --secondary-colour: #3efce8;
  --secondary-colour-dark: #5eddd0d6;
  --font-white: #fff1f1;
}

@-webkit-keyframes slide-in-from-right {
  0% {
    -webkit-transform: translateX(10em);
            transform: translateX(10em);
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  80% {
    -webkit-transform: translateX(-0.5em);
            transform: translateX(-0.5em);
  }
  95% {
    -webkit-transform: translateX(0.5em);
            transform: translateX(0.5em);
  }
  100% {
    -webkit-transform: translateX(0.6em);
            transform: translateX(0.6em);
    opacity: 1;
  }
}

@keyframes slide-in-from-right {
  0% {
    -webkit-transform: translateX(10em);
            transform: translateX(10em);
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  80% {
    -webkit-transform: translateX(-0.5em);
            transform: translateX(-0.5em);
  }
  95% {
    -webkit-transform: translateX(0.5em);
            transform: translateX(0.5em);
  }
  100% {
    -webkit-transform: translateX(0.6em);
            transform: translateX(0.6em);
    opacity: 1;
  }
}

.slideIn {
  z-index: 1;
  -webkit-animation-name: slide-in-from-right;
          animation-name: slide-in-from-right;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes slide-out-to-left {
  0% {
    -webkit-transform: translateX(0) scaleY(1);
            transform: translateX(0) scaleY(1);
    opacity: 1;
  }
  30% {
    opacity: 0.3;
  }
  80% {
    -webkit-transform: translateX(-10em) scaleY(0.95);
            transform: translateX(-10em) scaleY(0.95);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-10em) scaleY(0.8);
            transform: translateX(-10em) scaleY(0.8);
    opacity: 0;
    display: none;
  }
}

@keyframes slide-out-to-left {
  0% {
    -webkit-transform: translateX(0) scaleY(1);
            transform: translateX(0) scaleY(1);
    opacity: 1;
  }
  30% {
    opacity: 0.3;
  }
  80% {
    -webkit-transform: translateX(-10em) scaleY(0.95);
            transform: translateX(-10em) scaleY(0.95);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-10em) scaleY(0.8);
            transform: translateX(-10em) scaleY(0.8);
    opacity: 0;
    display: none;
  }
}

.slideOut {
  -webkit-animation-name: slide-out-to-left;
          animation-name: slide-out-to-left;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.page-1-container {
  display: block;
  position: absolute;
}

.page-2-container .page-3-container .page-4-container .page-5-container {
  display: none;
  position: absolute;
  z-index: 1;
}

.background-triangle {
  position: fixed;
  top: -100px;
  left: -50px;
  z-index: -1;
  width: 0;
  height: 0;
  border-left: 800px solid var(--primary-colour-light);
  border-top: 500px solid transparent;
  border-bottom: 500px solid transparent;
}

body {
  background: var(--primary-colour);
  margin: 0;
  padding: 0;
  font-family: "Baloo Tammudu 2";
}

.container {
  margin: 0;
  padding: 1em;
}

.top-navigation-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.1fr 1.5fr 1fr;
      grid-template-columns: 0.1fr 1.5fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  grid-auto-flow: row;
      grid-template-areas: "exit-button page-title page-title" "progress-bars progress-bars progress-bars";
  margin: 0;
  padding: 1em;
  margin-bottom: 0;
}

.top-navigation-container .exit-button {
  height: 30px;
  width: 30px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: exit-button;
  margin: auto;
  padding-top: 1em;
  padding-left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  -webkit-filter: invert(86%) sepia(1%) saturate(2176%) hue-rotate(314deg) brightness(108%) contrast(109%) drop-shadow(-2px -3px 2px rgba(0, 0, 0, 0.25));
          filter: invert(86%) sepia(1%) saturate(2176%) hue-rotate(314deg) brightness(108%) contrast(109%) drop-shadow(-2px -3px 2px rgba(0, 0, 0, 0.25));
  opacity: 80%;
}

.top-navigation-container .exit-button:hover {
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  -webkit-filter: invert(60%) sepia(1%) saturate(2176%) hue-rotate(314deg) brightness(108%) contrast(109%) drop-shadow(-2px -3px 2px rgba(0, 0, 0, 0.25));
          filter: invert(60%) sepia(1%) saturate(2176%) hue-rotate(314deg) brightness(108%) contrast(109%) drop-shadow(-2px -3px 2px rgba(0, 0, 0, 0.25));
}

.top-navigation-container .page-title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--font-white);
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: page-title;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  line-height: 80%;
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  opacity: 90%;
}

.top-navigation-container .progress-bars {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: progress-bars;
  margin: auto;
  margin-top: 0;
  padding: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.top-navigation-container .progress-bars .rectangle {
  margin-left: 15px;
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background: var(--font-white);
  opacity: 80%;
}

.top-navigation-container .progress-bars .completed {
  background: var(--secondary-colour);
}

.helpful-text-container {
  margin: 0 auto;
  padding: auto;
}

.helpful-text-container p {
  color: var(--font-white);
  font-weight: 700;
  text-align: center;
  margin: auto;
  font-size: 1rem;
  line-height: 2rem;
}

.text-box-container {
  margin: auto;
  padding: 1em;
}

.text-box-container .text-input {
  font-size: 2vw;
  min-width: 90%;
  max-width: 90%;
  width: 90%;
  min-height: 300px;
  height: 300px;
  resize: none;
  border-radius: 2em;
  background-color: var(--primary-colour-lightest);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  opacity: 80%;
  border: 0.5px solid var(--font-white);
  -webkit-box-shadow: 2px 2px 5px 4px rgba(53, 53, 53, 0.26);
          box-shadow: 2px 2px 5px 4px rgba(53, 53, 53, 0.26);
  padding: 1em;
  font-family: "Baloo Tammudu 2";
  font-weight: 500;
  color: var(--font-white);
  font-size: 1.1rem;
}

.text-box-container .text-input:focus {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: var(--secondary-colour-dark);
  -webkit-box-shadow: 4px 4px 10px 8px rgba(53, 53, 53, 0.26);
          box-shadow: 4px 4px 10px 8px rgba(53, 53, 53, 0.26);
  outline: none;
}

.helpful-reminder-container {
  margin: auto;
  padding: auto;
}

.helpful-reminder-container p {
  color: var(--font-white);
  opacity: 60%;
  font-weight: 600;
  text-align: center;
  margin: auto;
  font-size: 1rem;
  line-height: 3rem;
}

.bottom-navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 5em auto 2em;
}

.bottom-navigation-container .next-button-large {
  margin: auto;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 0.5px solid #fff1f14f;
  background: var(--secondary-colour);
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 60%;
  -webkit-box-shadow: 2px 2px 5px 4px rgba(53, 53, 53, 0.26);
          box-shadow: 2px 2px 5px 4px rgba(53, 53, 53, 0.26);
  width: 200px;
}

.bottom-navigation-container .next-button-large:hover {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  cursor: pointer;
  opacity: 80%;
}

.bottom-navigation-container .next-button-large .next-icon {
  position: relative;
  bottom: 10%;
  left: 45%;
  height: 30px;
  width: 30px;
  margin: auto;
  padding-top: 1em;
  padding-left: 0;
  -webkit-filter: invert(86%) sepia(1%) saturate(2176%) hue-rotate(314deg) brightness(108%) contrast(109%) drop-shadow(-2px -3px 2px rgba(0, 0, 0, 0.25));
          filter: invert(86%) sepia(1%) saturate(2176%) hue-rotate(314deg) brightness(108%) contrast(109%) drop-shadow(-2px -3px 2px rgba(0, 0, 0, 0.25));
  opacity: 100%;
}

.bottom-navigation-container .next-button-small {
  margin: auto;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 0.5px solid #fff1f14f;
  background: var(--secondary-colour);
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 60%;
  -webkit-box-shadow: 2px 2px 5px 4px rgba(53, 53, 53, 0.26);
          box-shadow: 2px 2px 5px 4px rgba(53, 53, 53, 0.26);
  width: 100px;
}

.bottom-navigation-container .next-button-small:hover {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  cursor: pointer;
  opacity: 80%;
}

.bottom-navigation-container .next-button-small .next-icon {
  position: relative;
  bottom: 10%;
  left: 45%;
  height: 30px;
  width: 30px;
  margin: auto;
  padding-top: 1em;
  padding-left: 0;
  -webkit-filter: invert(86%) sepia(1%) saturate(2176%) hue-rotate(314deg) brightness(108%) contrast(109%) drop-shadow(-2px -3px 2px rgba(0, 0, 0, 0.25));
          filter: invert(86%) sepia(1%) saturate(2176%) hue-rotate(314deg) brightness(108%) contrast(109%) drop-shadow(-2px -3px 2px rgba(0, 0, 0, 0.25));
  opacity: 100%;
  left: 38%;
}

.bottom-navigation-container .back-button-small {
  margin: auto;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 0.5px solid #fff1f14f;
  background: var(--secondary-colour);
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 60%;
  -webkit-box-shadow: 2px 2px 5px 4px rgba(53, 53, 53, 0.26);
          box-shadow: 2px 2px 5px 4px rgba(53, 53, 53, 0.26);
  width: 100px;
}

.bottom-navigation-container .back-button-small:hover {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  cursor: pointer;
  opacity: 80%;
}

.bottom-navigation-container .back-button-small .back-icon {
  position: relative;
  bottom: 10%;
  left: 45%;
  height: 30px;
  width: 30px;
  margin: auto;
  padding-top: 1em;
  padding-left: 0;
  -webkit-filter: invert(86%) sepia(1%) saturate(2176%) hue-rotate(314deg) brightness(108%) contrast(109%) drop-shadow(-2px -3px 2px rgba(0, 0, 0, 0.25));
          filter: invert(86%) sepia(1%) saturate(2176%) hue-rotate(314deg) brightness(108%) contrast(109%) drop-shadow(-2px -3px 2px rgba(0, 0, 0, 0.25));
  opacity: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: -20%;
  left: 35%;
}

section {
  margin: 1em auto 4em auto;
}

.helpful-text-container h3 {
  color: var(--font-white);
  font-weight: 700;
  text-align: center;
  margin: auto;
  line-height: 2rem;
}

.dropdown-box-container {
  margin: 1em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-box-container select {
  margin: 0.5em auto;
  padding: 0.8em;
}

.slider-container {
  margin: auto;
}

.slider-container h5 {
  text-align: center;
  color: var(--font-white);
  font-weight: 500;
  margin: 0;
}

.slider-container .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 auto;
  align-self: center;
  justify-self: center;
}

.slider-container .slider-value {
  -webkit-transition: content 0.5s ease;
  transition: content 0.5s ease;
  text-align: center;
  color: var(--font-white);
  font-weight: 500;
  margin: 0;
}

.check-box-container-grid {
  margin: 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 2px 5px;
}

.check-box-container-grid .checkbox-option {
  color: var(--font-white);
}
/*# sourceMappingURL=main.css.map */